
  /* root */
:root {
    --clr-Yellow: #f4d04e;    
    --clr-White: #ffffff;
    --clr-Grey: #c8c6c6;
    --clr-Black: #121212;
    --clr-Dark-Grey: #636363;

    --ff-main: "Figtree", sans-serif;
    --fs-main: 16px; 
    --fw-600: 600;
    --fw-800: 800;
}
.wrapper {
    display:grid;
    place-items: center;
    min-height: 100dvh;
}
.container {
                    
    
    width: 22em;
    padding: 1.5rem;
    background: var(--clr-White);
    border-radius: 1rem;
    box-shadow: 7px 7px 0 var(--clr-Dark-Grey);
    

}

.container > * + * {
    margin-top: 2rem;

}
.card {
    background-color: bisque;
}


    body {
        font-family: var(--ff-main);
        font-size: var(--fs-main);
        font-weight: var(--fw-600);
        color: var(--clr-Dark-Grey);
        background: var(--clr-Grey);
    }



img {
    display: block;
    max-width: 100%;
    border-radius: 1rem;
   
  }

  h1 {
    line-height: 1.1;
    text-align: center;
  }
p {
    text-align: center;
}

.body-text {
    display: block;
    max-width: 300px;
   
    font-family: 'Courier New', Courier, monospace;
    
    padding-block: 50px;
}

.first-text {
    font-weight: var(--fw-800);
    font-size: 1.5rem;
    color: var(--clr-Black);
    
    
    
}

.second-text{
    font-weight: 100;
    font-size: 0.8rem;


}

